.checkoutProduct{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

.checkoutProduct__info{
    padding-left: 20px;
}

.checkoutProduct__info > button{
    background-color: #f0c14b;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
    cursor: pointer;
}

.checkoutProduct__image{
    object-fit: contain;
    width: 180px;
    height: 180px;
}

.checkoutProduct__rating{
    display: flex;
}

.checkoutProduct__title{
    font-size: 17px;
    font-weight: 600;
}









.checkoutProduct{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .checkoutProduct__info{
    padding-left: 20px;
    flex: 1;
  }
  
  .checkoutProduct__info > button{
    background-color: #f0c14b;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
    cursor: pointer;
  }
  
  .checkoutProduct__image{
    object-fit: contain;
    width: 180px;
    height: 180px;
    flex-shrink: 0;
  }
  
  .checkoutProduct__rating{
    display: flex;
  }
  
  .checkoutProduct__title{
    font-size: 17px;
    font-weight: 600;
  }
  
  @media (max-width: 767px) {
    .checkoutProduct {
      flex-direction: column;
    }
  
    .checkoutProduct__info {
      padding-left: 0;
      margin-top: 20px;
      text-align: center;
    }
  
    .checkoutProduct__image {
      width: 100%;
      height: auto;
    }
  }