.home__image{
    width: 100%;
    z-index: -1;
    margin-bottom: -150px;
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
}

.home{
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 1500px;
}

.home__row{
    display: flex;
    z-index: 1;
    margin-left: 5px;
    margin-right: 5px;
}



/* Mobile Styles */

.home__image {
    width: 100%;
    margin-bottom: -50px;
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
  }
  
  .home__row {
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .home__container {
    max-width: 100%;
    padding: 0 10px;
  }
  
  /* Tablet Styles */
  
  @media (min-width: 768px) {
    .home__image {
      margin-bottom: -100px;
    }
  
    .home__row {
      justify-content: space-between;
    }
  
    .home__container {
      max-width: 768px;
      padding: 0;
    }
  }
  
  /* Desktop Styles */
  
  @media (min-width: 1024px) {
    .home__image {
      margin-bottom: -150px;
    }
  
    .home__row {
      justify-content: space-between;
    }
  
    .home__container {
      max-width: 1024px;
      padding: 0;
    }
  }
  



